<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ block "title" . }}
		{{ .Site.Title }}
	{{ end }}</title>

	{{ template "_internal/google_analytics.html" . }}
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="icon.png">

	<link rel="manifest" href="site.webmanifest">
	<meta name="theme-color" content="#fafafa">
</head>
<body>
	<header class="site-header">
		<h1 class="site-header__label">{{ .Site.Title }}</h1>
		{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
	</header>

	{{ block "main" . }}
	{{ end }}
	{{ block "footer" . }}
		{{ partial "menu.html" (dict "menuID" "footer" "page" .) }}
	{{ end }}
</body>
</html>
